@import "tailwindcss";

*{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera, newer Edge */
}

.bottomBarbg{
    background-color: #ffe014cf;
}
